@use 'global' as *;

.main-heading {
  font-family: $font-dancingScript;
  font-size: 40px;
  font-weight: 300;
  color: $secondary-color;
  margin: 20px 0;
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 20px;
  font-weight: 300;
  color: $secondary-color;
  margin-bottom: 10px;
}

.button {
  background-color: $tertiair-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &-detail {
    background-color: $tertiair-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px;
  }
}

.card {
  width: 18%;
  height: 18vw;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid $color-black;
  margin: 13px;
  align-items: center;

  &:hover .card-overlay {
    left: 0;
  }

  &-overlay {
    @extend %fullSpace;
    @include flexLayout();
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba($secondary-color, .7);
    color: $color-black;
    z-index: 10;
    flex-direction: column;
    transition: ease-in .7s;

    &-heading {
      @include textStyles(capitalize);
      font-family: $font-nunito;
      font-size: 30px;
      text-align: center;
    }

    &-paragraph {
      @include textStyles(capitalize);
      font-family: $font-josefinSans;
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &-image {
    @extend %fullSpace;
    object-fit: contain;
    padding: 5px;
  }
}

@media screen and (max-width: 821px) and (min-width: 414px){
  .body {
    width: 820px;

    main article {
      width: 25%;
    }
  }
  .navbar {
    width: 820px;

    & ul li a {
      width: 115px;
    }
  }
  .card {
    width: 17%;
    height: 17vw;
    &-overlay {
      &-heading {
        font-size: 15px;
      }

      &-paragraph {
        font-size: 13px;
      }
    }
  }
  .detail-card {
    flex-direction: column;
  }

  .detail-card .photo,
  .detail-card .detail-description {
    width: 100%;
    padding: 0;
    border: none;
  }

  .detail-card .photo .photo-detail {
    max-height: none;
  }

  .detail-card .detail-description h1 {
    font-size: 24px;
  }

  .detail-card .detail-description h2 {
    font-size: 16px;
  }

  .detail-card .detail-description h4 {
    font-size: 10px;
  }

  .detail-card .detail-description p {
    font-size: 14px;
  }

  .detail-card .detail-description ol {
    padding: 5px;
  }
}


@media screen and (max-width: 415px ) {
  .body {
    width: 414px;

    main {
      justify-content: center;
    }

    main article {
      width: 75%;
    }
  }
  .navbar {
    height: 100%;
    width: 415px;

    & img {
      display: none;
    }

    & ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 415px;
      padding: 0;
    }

    & ul li a {
      width: 75px;
    }
  }
  .about {
    height: 100%;
    width: 415px;
    flex-direction: column;
    justify-content: center;

    &-right {
      padding: 0;
    }
  }
  .cards-wrapper {
    justify-content: center;
  }
  .card {
    &-overlay {
      &-heading {
        font-size: 12px;
      }

      &-paragraph {
        font-size: 10px;
      }
    }
  }
  .container {
    height: 100%;
    width: 415px;
    flex-direction: column;
    justify-content: center;
  }
  .detail {
    flex-direction: column;
  }
}



