@use 'global' as *;

.main-heading {
  font-family: $font-dancingScript;
  font-size: 40px;
  font-weight: 300;
  color: $secondary-color;
  margin: 20px 0;
}
.sub-heading {
  font-family: $font-josefinSans;
  font-size: 20px;
  font-weight: 300;
  color: $secondary-color;
  margin-bottom: 10px;
}
.button{
  background-color: $quartair-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &-detail{
    background-color: $quartair-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px;
  }
}
.card {
  width: 30%;
  height: 25vw;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid $color-black;
  margin: 10px;
  align-items: center;
  &:hover .card-overlay {
    left: 0;
  }

  &-overlay{
    @extend %fullSpace;
    @include flexLayout();
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba($secondary-color, .7);
    color: $color-black;
    z-index: 10;
    flex-direction: column;
    transition: ease-in .7s;

    &-heading {
      @include textStyles(capitalize);
      font-family: $font-nunito;
      font-size: 50px;
      text-align: center;
    }

    &-paragraph {
      @include textStyles(capitalize);
      font-family: $font-josefinSans;
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &-image {
    @extend %fullSpace;
    object-fit: contain;
    padding: 5px;
  }
}