@use 'global' as *;

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background:  linear-gradient(rgba(lightgray, .6), rgba(lightgray, .4)),url("../assets/Layer 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.login-container {
  background-color: $primary-color;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

a {
  margin-top: 10px;
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  transition: color 0.3s;
}
