@use 'global' as *;

.navbar {
  height: 106px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;

  & img {
    margin: 15px;
  }

  & ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  & ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 30px 0;
    width: 150px;
    text-align: center;
    color: $color-black;
    text-decoration: none;
  }

  & ul li a:hover {
    font-weight: 800;
  }
}